html {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
}

body {
  color: #55585D;
  font-family: "Roboto", Helvetica, sans-serif;
  font-size: 15px;
  background-color: #F6F7FB;
  box-sizing: border-box;
    text-align: center;
}

a:link {
  color: none;
  text-decoration: none;
}

a:visited {
  color: none;
  text-decoration: none;
}

a:hover {
  color: none;
  text-decoration: none;
}

a:active {
  color: black;
  text-decoration: none;
}

/*RESPONSIVE EXAMPLE*/
@media screen and (max-width: 600px){

#header{
    position: relative;
    width: 100%;
    height: 45px;
    text-align: center;
    background-color: #029E9B;
}
    
#logo_header{
    position: relative;
    margin: 10px auto;
}
    
#scoreContainer{
    position: relative;
    margin: 20px auto -60px auto;
    width: 120px;
    text-align: center;
    font-weight: 700;
    font-size: 35px;
    color: #EEA42E;
/*    background-color: royalblue;*/
    z-index:3;
}
    
#liveUpperContainer{
    position: relative;
    margin: 20px auto;
    width: 90%;
    height: auto;
/*    background-color: yellowgreen;*/
    z-index:1;
}

#homeTeamHash{
    float: left;
    text-align: left;
    height: 40px;
    width: 50%;
/*    background-color: bisque;*/
    z-index:2;
}
    
#awayTeamHash{
    float: right;
    height: 40px;
    width: 50%;
    text-align: right;
/*    background-color: firebrick;*/
    z-index:2;
}
    
.hashTeam{
    font-weight: 400;
    font-size: 35px;
    color: #143542;
}


#homeTeamName{
    position: absolute;
    margin-top: 40px;
    text-align: left;
    height: 27px;
    width: 50%;
    float: left;
/*    background-color: palevioletred*/
}
    
#awayTeamName{
    float: right;
    height: 27px;
    width: 50%;
    text-align: right;
/*    background-color:chocolate*/
}
    
.teamName{
    font-weight: 300;
    font-size: 13px;
    color:#9B9B9B;
}
    
#halfAndTime{
    float: left;
    text-align: center;
    display: block;
    width: 100%;
    height: 35px;
    font-weight: 400;
    font-size: 14px;
    margin-bottom: 20px;
    border-bottom: 1px solid #E4E4E4;
    color: black;
/*    background-color: navy*/
}
    
#statsContainer{
    overflow: hidden;
    width: 100%;
    height: auto;
}
    
#statLine{
    overflow: hidden;
    width: 100%;
    height: 70px;
/*    background-color: khaki*/
}
    
#dynamicStatShootHome{
    float: left;
    width: 20%;
}
     
#dynamicStatShootAway{
    float: right;
    width: 80%;
}
    
#dynamicStatSaveHome{
    float: left;
    width: 30%;
}
     
#dynamicStatSaveAway{
    float: right;
    width: 70%;
}
    
#dynamicStatCrossHome{
    float: left;
    width: 70%;
}
     
#dynamicStatCrossAway{
    float: right;
    width: 30%;
}
    
#dynamicStatCornerHome{
    float: left;
    width: 50%;
}
     
#dynamicStatCornerAway{
    float: right;
    width: 50%;
}
    
#dynamicStatFoulHome{
    float: left;
    width: 90%;
}
     
#dynamicStatFoulAway{
    float: right;
    width: 10%;
}
    
#dynamicStatCardHome{
    float: left;
    width: 80%;
}
     
#dynamicStatCardAway{
    float: right;
    width: 20%;
}
    
#dynamicStatOffsideHome{
    float: left;
    width: 56%;
}
     
#dynamicStatOffsideAway{
    float: right;
    width: 44%;
}
    
.dynamicClassHome{
    height: 70px;
    background-color: #FDF0DE;
}
    
.dynamicClassAway{
    height: 70px;
    background-color: #E1F2EE;
}
    
#figureContainer{
    position: absolute;
    width: 100%;
    height:70px;
/*    background-color: darkred;*/
}
    
#pourcentage{
    display: inline-block;
    margin-right: -7px;
    font-size: 25px;
}
    
#doubleFigure{
    display: inline-block;
}
    
#scoreHomeShoot{
    float: left;
    width: 33%;
    height:70px;
    line-height: 70px;
/*    background-color: olive;*/
}
    
#scoreAwayShoot{
    float: right;
    width: 33%;
    height:70px;
    line-height: 70px;
/*    background-color: hotpink;*/
}
    
#scoreHomeSave{
    float: left;
    width: 33%;
    height:70px;
    line-height: 70px;
/*    background-color: olive;*/
}
    
#scoreAwaySave{
    float: right;
    width: 33%;
    height:70px;
    line-height: 70px;
/*    background-color: hotpink;*/
}
    
#scoreHomeCross{
    float: left;
    width: 33%;
    height:70px;
    line-height: 70px;
/*    background-color: olive;*/
}
    
#scoreAwayCross{
    float: right;
    width: 33%;
    height:70px;
    line-height: 70px;
/*    background-color: hotpink;*/
}
    
#scoreHomeCorner{
    float: left;
    width: 33%;
    height:70px;
    line-height: 70px;
/*    background-color: olive;*/
}
    
#scoreAwayCorner{
    float: right;
    width: 33%;
    height:70px;
    line-height: 70px;
/*    background-color: hotpink;*/
}
    
#scoreHomeFoul{
    float: left;
    width: 33%;
    height:70px;
    line-height: 70px;
/*    background-color: olive;*/
}
    
#scoreAwayFoul{
    float: right;
    width: 33%;
    height:70px;
    line-height: 70px;
/*    background-color: hotpink;*/
}
    
#scoreHomeOffside{
    float: left;
    width: 33%;
    height:70px;
    line-height: 70px;
/*    background-color: olive;*/
}
    
#scoreAwayOffside{
    float: right;
    width: 33%;
    height:70px;
    line-height: 70px;
/*    background-color: hotpink;*/
}
    
.score{
    text-align: center;
    font-weight: 100;
    font-size: 38px;
    color: #029E9B;
}

#scoreLabel{
    margin-left: 33%;
    margin-right: 33%;
    height:70px;
    line-height: 70px;
    text-align: center;
    font-weight: 500;
    font-size: 14px;
    color: #143542;
/*    background-color: peru;*/
}    

#scoreLabelLine{
    margin-left: 33%;
    margin-right: 33%;
    height:70px;
    line-height: 70px;
    margin-top: -8px;
    text-align: center;
    font-weight: 500;
    font-size: 14px;
    color: #143542;
/*    background-color: peru;*/
}
    
.scoreLabelLine{
    display: block;
    margin-top: -20px;
    line-height: 0;
}
   
.logo{
    background-image: url("../ressources/logo_text.png");
    display: inline-block;
    background-size: 66px 18px;
    height: 18px;
    overflow: hidden;
    text-indent: -9999px;
    width: 66px;
    -webkit-transition: opacity 0.25s;
    -o-transition: opacity 0.25s;
    transition: opacity 0.25s;
}
    
#rightNavContainer {
    height: 100%;
    width: 0; /*100 instead of 0 to dev*/
    position: fixed;
    z-index: 1;
/*    top: 40px;*/
    right: 0;
    background-color: white;
    overflow-x: hidden;
/*    transition: 0.1s;*/
/*    padding-top: 60px;*/
    z-index:6;
}
    
#rightNavMainContent{
    height: 239px;
    width: 100%;
    margin: 20px auto;
    background-image: url("../ressources/vertical_pitch@1x.png");
    background-repeat: no-repeat;
    background-size: 100% 240px;
    background-color: red;
}
    
#rightMenuDismissBtn{
    position: block;
    float: left;
    margin-left: 4%;
    height: 55px;
    width: 44%;
    text-align: center;
    line-height: 55px;
    background: #FFFFFF;
    border: 1px solid #029E9B;
    border-radius: 6px;
    font-weight: 500;
    font-size: 20px;
    color: #029E9B;
}
    
#rightMenuSubmitBtn{
    position: block;
/*    display: inline-block;*/
    float: right;
    margin-right: 4%;
    height: 55px;
    width: 44%;
    text-align: center;
    line-height: 55px;
    background: #029E9B;
    border: 1px solid #029E9B;
    border-radius: 6px;
    font-weight: 500;
    font-size: 20px;
    color: #FFFFFF;
}
    
#startHalfButton{
    position: block;
    margin: 13px auto 20px auto;
    height: 55px;
    line-height: 55px;
    width: 94%;
    text-align: center;
/*    padding-bottom: 200px;*/
    background: #029E9B;
    border-radius: 6px;
    font-weight: 800;
    font-size: 19px;
    color: #FFFFFF;
}
    
/*FOR RADIO BUTTON > http://jsfiddle.net/ob9ardLz/*/
    
#liveRecordContainer{
    display: inline-block;
    overflow: hidden;
    margin: 0 auto 7px auto;
    width: 90%;
    height: 315px;
    border-bottom: 1px solid #E4E4E4;
/*    background-color: mediumvioletred;*/
}

#lineOfRecord{
    overflow: hidden;
     display: inline-block;
    width: 100%;
    height: auto;
    margin-bottom: 10px;
/*    background-color: yellow;*/
}
    
#shootBtn{
    float:left;
    width: 48%;
    height: 90px;
}
    
#turnoverBtn{
    float:right;
    width: 48%;
    height: 90px;
}

.designBtn{
    line-height: 70px;
    border-radius: 3px;
    border: 1px solid #029E9B;
    background-color: #F2F2F2;
    color: #029E9B;
    font-weight: 800;
    font-size: 16px;
}
    
.designBtnLine{
    display: block;
    margin-top: -10px;
    line-height: 0;
    color: #EEA42E;
}
    
@media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) { 

  .circle{
    background-image: url("../img/clock@x2.png");
    background-size: 12px 12px;
  }
}