/* ******************** PRELOADER ******************** */

#preloader {
	position: fixed;
	left: 0;
	top: 0;
    background : url('../ressources/loader.gif') 50% 50% no-repeat;
	z-index: 999;
	width: 100%;
	height: 100%;
    background-color: white;
	overflow: visible;
    visibility: visible;
}

html {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Roboto", Helvetica, sans-serif;
  font-size: 15px;
  background-color: white;
  box-sizing: border-box;
}

.bodygreybg{
    background-color: #F5F5F5;
}

a:link {
  color: none;
  text-decoration: none;
}

a:visited {i
  color: none;
  text-decoration: none;
}

a:hover {
  color: none;
  text-decoration: none;
}

a:active {
  color: black;
  text-decoration: none;
}

/*Left menu*/

.leftmenu {
    height: 100%; /* 100% Full-height */
    width: 0; /* 0 width - change this with JavaScript */
    position: fixed; /* Stay in place */
    z-index: 99; /* Stay on top */
    top: 0;
    left: 0;
    background-color: #F6F6F6;
    overflow-x: hidden; /* Disable horizontal scroll */
    padding-top: 90px; /* Place content 60px from the top */
    transition: .3s; /* 0.5 second transition effect to slide in the sidenav */
    color: #2C2D30;
    font-size: 17px;
}

.welcomemsg{
    position: absolute;
    width: 240px;
    margin-top: -55px;
    text-align: center;
    font-weight: 700;
}

.madeby{
    position: absolute;
    width: 240px;
    bottom: 22%;
    text-align: center;
    font-weight: 500;
    font-size: 10px;
    color: #A6A6A7;
}

/* The navigation menu links */
.leftmenu a {
    padding: 17px 8px 5px 40px;
    text-decoration: none;
    font-size: 15px;
    font-weight: 500;
    color: #58595D;
    height: 30px;
    width: 192px;
    background-color: white;
    border: 1px solid #E6E6E6;
    margin-top: -1px;
    display: block;
    transition: 0.3s
}

/* When you mouse over the navigation links, change their color */
.leftmenu a:hover, .offcanvas a:focus{
    color: #f1f1f1;
}

#contentToPushByLeftMenu{
    transition: .3s;
}

/*AUTOCOMPLETE*/

/*=la box qui se deploie pour les propositions*/
.ui-autocomplete {
    background: #ffffff;
    border-radius: 0px;
}

.ui-menu .ui-menu-item a{
    font-size: 16px;
    padding-top: 20px;
}

.ui-menu .ui-menu-item a:hover{
    background:grey;
    border: none;
    border-radius: 0px;
}

#notmobile{
    position: absolute;
    width: 100%;
    height: 100%;
    display: table;
    text-align: center;
    z-index: 99;
}

#notmobile_content{
    display: table-cell;
    vertical-align: middle;
    color: #FFFFFF;
    background: linear-gradient(50deg, #00a5a7, #00739A);
}

/*RESPONSIVE*/
@media screen and (max-width: 450px){
    
    #notmobile{
        visibility: hidden;
    }

    #header{
        width: 100%;
        height: 45px;
        text-align: center;
        z-index: 2;
        top: 0;
        background: linear-gradient(50deg, #00a5a7, #00739A);
    }
    
    #headerFixed{
        position: fixed;
        width: 100%;
        height: 45px;
        text-align: center;
        z-index: 2;
        top: 0;
        background: linear-gradient(50deg, #00a5a7, #00739A);
        transition: .3s; /*Left menu purpose*/
        left:0; /*Left menu purpose*/
    }
    
    #pageContentBelowFixedHeader{
        display: block;
        margin-top: 45px;
/*        background-color: aquamarine;*/
    }

    #logo_header{
        position: relative;
        margin: 12px auto;
    }
    
    .filterSidenav {
        height: 100%;
        width: 0px;
        position: fixed;
        z-index: 10;
        top: 45px; /*header height*/
        right: 0;
        background-color: #F6F6F6;
        overflow-x: hidden;
        transition: 0.2s;
        font-size: 12px;
        -webkit-box-shadow: -3px 0px 2px 0px rgba(0,0,0,0.12);
        -moz-box-shadow: -3px 0px 2px 0px rgba(0,0,0,0.12);
        box-shadow: -3px 0px 2px 0px rgba(0,0,0,0.12);
    }
    
    .filterBtnUnchecked{
        width: 100%;
        height: 60px;
        text-align: center;
        line-height: 60px;
        color: #A6A6A7;
        font-weight: 500;
        background-color: white;
        border-bottom: 1px solid #E6E6E6;
    }
    
    .filterBtnChecked{
        width: 100%;
        height: 60px;
        text-align: center;
        line-height: 60px;
        color: #00739A;
        font-weight: 600;
        border-left: 3px solid #00739A;
        border-bottom: 1px solid #E6E6E6;
    }
      
    .blackOverlay{
        position:fixed;
        width: 100%;
        height: 100%;
        z-index: 8;
        background-color: rgba(0, 0, 0, 0.6);
        visibility: hidden;
    }
     
    #gamelistentry{
        width: 100%;
        height: 80px;
        background-color: #ffffff;
        border-bottom: 1px solid #BEBEBE;
    }
    
    #gamelistdate{
        float:left;
        width: 22%;
        padding-top: 17px;
        text-align: center;
        color: #EEA42E;
/*        background-color: aqua;*/
    }
    
    #gamelistdatenumber{
        font-size: 22px;
        font-weight: 500;
        display: block;
    }
    
    #gamelistdatemonth{
        font-size: 16px;
        font-weight: 500;
        display: block;
    }
    
    #gamelistinfo{
        float: right;
        width: 78%;
        height: 71px;
        padding-top: 10px;
        background-image: url("../ressources/nexticonlisting@x2.png");
        background-repeat: no-repeat;
        background-position: 95%;
        background-size: 7.5px 15px;
/*        background-color: yellowgreen;*/
    }
    
    .gamelistinfocompet{
        font-size: 15px;
        font-weight: 500;
        color: #1F4C5D;
    }
    
    .gamelistinfohour{
        display: inline-block;
        font-size: 13px;
        font-weight: 300;
        padding-left: 10px;
        color: #B4B4B4;
    }
    
    .gamelistinfohometeam{
        display: block;
        font-size: 14px;
        font-weight: 100;
        line-height: 27px;
        color: black;
    }
    
    .gamelistinfoawayteam{
        display: block;
        font-size: 14px;
        line-height: 10px;
        font-weight: 100;
        color: black;
    }
    
    #scoreContainer{
        position: relative;
        margin: 20px auto -60px auto;
        width: 120px;
        text-align: center;
        font-weight: 700;
        font-size: 35px;
        color: #EEA42E;
    /*    background-color: royalblue;*/
        z-index:3;
    }

    #liveUpperContainer{
        position: relative;
        margin: 20px auto;
        width: 90%;
        height: auto;
    /*    background-color: yellowgreen;*/
        z-index:1;
    }

    #homeTeamHash{
        float: left;
        text-align: left;
        height: 40px;
        width: 50%;
    /*    background-color: bisque;*/
        z-index:2;
    }

    #awayTeamHash{
        float: right;
        height: 40px;
        width: 50%;
        text-align: right;
    /*    background-color: firebrick;*/
        z-index:2;
    }

    .hashTeam{
        font-weight: 400;
        font-size: 35px;
        color: #143542;
    }

    #homeTeamName{
        position: absolute;
        margin-top: 40px;
        text-align: left;
        height: 27px;
        width: 50%;
        float: left;
    /*    background-color: palevioletred*/
    }

    #awayTeamName{
        float: right;
        height: 27px;
        width: 50%;
        text-align: right;
    /*    background-color:chocolate*/
    }

    .teamName{
        font-weight: 300;
        font-size: 13px;
        color:#9B9B9B;
    }

    #halfAndTime{
        float: left;
        text-align: center;
        display: block;
        width: 100%;
        height: 35px;
        font-weight: 400;
        font-size: 14px;
        margin-bottom: 20px;
        border-bottom: 1px solid #E4E4E4;
        color: black;
    /*    background-color: navy*/
    }

    #statsContainer{
        overflow: hidden;
        width: 100%;
        height: auto;
    }

    #statLine{
        overflow: hidden;
        width: 100%;
        height: 70px;
    /*    background-color: khaki*/
    }

    #dynamicStatShootHome{
        float: left;
        width: 20%;
    }

    #dynamicStatShootAway{
        float: right;
        width: 80%;
    }

    #dynamicStatSaveHome{
        float: left;
        width: 30%;
    }

    #dynamicStatSaveAway{
        float: right;
        width: 70%;
    }

    #dynamicStatCrossHome{
        float: left;
        width: 70%;
    }

    #dynamicStatCrossAway{
        float: right;
        width: 30%;
    }

    #dynamicStatCornerHome{
        float: left;
        width: 50%;
    }

    #dynamicStatCornerAway{
        float: right;
        width: 50%;
    }

    #dynamicStatFoulHome{
        float: left;
        width: 90%;
    }

    #dynamicStatFoulAway{
        float: right;
        width: 10%;
    }

    #dynamicStatCardHome{
        float: left;
        width: 80%;
    }

    #dynamicStatCardAway{
        float: right;
        width: 20%;
    }

    #dynamicStatOffsideHome{
        float: left;
        width: 56%;
    }

    #dynamicStatOffsideAway{
        float: right;
        width: 44%;
    }

    .dynamicClassHome{
        height: 70px;
        background-color: #FDF0DE;
    }

    .dynamicClassAway{
        height: 70px;
        background-color: #E1F2EE;
    }

    #figureContainer{
        position: absolute;
        width: 100%;
        height:70px;
    /*    background-color: darkred;*/
    }

    #pourcentage{
        margin-right: -7px;
        font-size: 14px;
        background-color: yellowgreen;
    }

    #doubleFigure{
        display: inline-block;
    }

    #scoreHomeShoot{
        float: left;
        width: 33%;
        height:70px;
        line-height: 70px;
    /*    background-color: olive;*/
    }

    #scoreAwayShoot{
        float: right;
        width: 33%;
        height:70px;
        line-height: 70px;
    /*    background-color: hotpink;*/
    }

    #scoreHomeSave{
        float: left;
        width: 33%;
        height:70px;
        line-height: 70px;
    /*    background-color: olive;*/
    }

    #scoreAwaySave{
        float: right;
        width: 33%;
        height:70px;
        line-height: 70px;
    /*    background-color: hotpink;*/
    }

    #scoreHomeCross{
        float: left;
        width: 33%;
        height:70px;
        line-height: 70px;
    /*    background-color: olive;*/
    }

    #scoreAwayCross{
        float: right;
        width: 33%;
        height:70px;
        line-height: 70px;
    /*    background-color: hotpink;*/
    }

    #scoreHomeCorner{
        float: left;
        width: 33%;
        height:70px;
        line-height: 70px;
    /*    background-color: olive;*/
    }

    #scoreAwayCorner{
        float: right;
        width: 33%;
        height:70px;
        line-height: 70px;
    /*    background-color: hotpink;*/
    }

    #scoreHomeFoul{
        float: left;
        width: 33%;
        height:70px;
        line-height: 70px;
    /*    background-color: olive;*/
    }

    #scoreAwayFoul{
        float: right;
        width: 33%;
        height:70px;
        line-height: 70px;
    /*    background-color: hotpink;*/
    }

    #scoreHomeOffside{
        float: left;
        width: 33%;
        height:70px;
        line-height: 70px;
    /*    background-color: olive;*/
    }

    #scoreAwayOffside{
        float: right;
        width: 33%;
        height:70px;
        line-height: 70px;
    /*    background-color: hotpink;*/
    }

    .score{
        text-align: center;
        font-weight: 100;
        font-size: 38px;
        color: #029E9B;
    }

    #scoreLabel{
        margin-left: 33%;
        margin-right: 33%;
        height:70px;
        line-height: 70px;
        text-align: center;
        font-weight: 500;
        font-size: 14px;
        color: #143542;
    /*    background-color: peru;*/
    }    

    #scoreLabelLine{
        margin-left: 33%;
        margin-right: 33%;
        height:70px;
        line-height: 70px;
        margin-top: -8px;
        text-align: center;
        font-weight: 500;
        font-size: 14px;
        color: #143542;
    /*    background-color: peru;*/
    }

    .scoreLabelLine{
        display: block;
        margin-top: -20px;
        line-height: 0;
    }

    .logo{
        background-image: url("../ressources/scout_soccer_logo@x1.png");
        display: inline-block;
        background-size: 59px 23px;
        height: 23px;
        overflow: hidden;
        text-indent: -9999px;
        width: 59px;
        -webkit-transition: opacity 0.25s;
        -o-transition: opacity 0.25s;
        transition: opacity 0.25s;
    }

    #closePageBtn {
        display: inline-block;
        background-image: url("../ressources/close@x1.png");
        height: 15px;
        width: 15px;
        float: left;
        margin-left: 15px;
        margin-top: 15px;
    }
    
    #leftMenuBtn {
        display: inline-block;
        background-image: url("../ressources/left_menu_logo@x2.png");
        background-size: 19px 16px;
        height: 16px;
        width: 19px;
        float: left;
        margin-left: 14px;
        margin-top: 14px;
    }

    #pageTitle {
        display: inline-block;
        margin-top: 15px;
        color: #FFFFFF;
        font-weight: 800;
    }

    #pageTitleNoValidation {
        display: inline-block;
        margin: 15px 0 -15px 0;
        color: #FFFFFF;
        font-weight: 800;
    }
    
    #pageTitleNoValidation {
        display: inline-block;
        margin-top: 15px;
        margin-left: -7%;
        color: #FFFFFF;
        font-weight: 800;
    }

    #validationPageBtn {
        display: inline-block;
        background-image: url("../ressources/validation@x1.png");
        width: 18px;
        height: 17px;
        float: right;
        margin-right: 15px;
        margin-top: 14px;
    }
    
    #filterPageBtn {
        display: inline-block;
        background-image: url("../ressources/filter@x1.png");
        background-size: 15px 16.5px;
        width: 15px;
        height: 16px;
        float: right;
        margin-right: 15px;
        margin-top: 14px;
        transition: .3s ease-in-out;
    }

    #roadsterBtn {
        display: inline-block;
        background-image: url("../ressources/team_icon@x1.png");
        background-size: 23px 16px;
        width: 23px;
        height: 16px;
        float: right;
        margin-right: 15px;
        margin-top: 14px;
    }

    .navContainer{
        overflow-x: hidden;
        height: 100%;
        right: 0;
        z-index:6;
        background-color: #F5F5F5;
        transition-duration: 0.1s;
    }
    
    .formNextContainer{
        overflow-x: hidden;
        height: 100%;
        right: 0;
        z-index:6;
        background-color: #ffffff;
        transition-duration: 0.1s;
    }
    
    #turnoverNavContainer {
        position: fixed;
        width: 0%; /*100 instead of 0 to dev*/
    }
    
    #formStepTwo {
        position: fixed;
        width: 0%; /*100 instead of 0 to dev*/
        z-index:2;
    }
    
    #formStepThree {
        position: fixed;
        width: 0%; /*100 instead of 0 to dev*/
        z-index:3;
    }
    
    #shootNavContainerPage1 {
        position: fixed;
        width: 0%; /*100 instead of 0 to dev*/
    }
    
    #shootNavContainerPage2 {
        width: 0%; /*100 instead of 0 to dev*/
        position: fixed;
        z-index:7;
        background-image: url("../ressources/bg_logo@x2.png");
        background-repeat: no-repeat;
        background-position: center 82%;
        background-size: 243px 75.5px;
    }
    
    #crossNavContainer {
        width: 0%; /*100 instead of 0 to dev*/
        position: fixed;
    }
    
    #foulNavContainer {
        width: 0%; /*100 instead of 0 to dev*/
        position: fixed;
    }
    
    #cornerNavContainer {
        width: 0%; /*100 instead of 0 to dev*/
        position: fixed;
        background-image: url("../ressources/bg_logo@x2.png");
        background-repeat: no-repeat;
        background-position: center 70%;
        background-size: 243px 75.5px;
    }
    
    
    #offsideNavContainer {
        width: 0%; /*100 instead of 0 to dev*/
        position: fixed;
        background-image: url("../ressources/bg_logo@x2.png");
        background-repeat: no-repeat;
        background-position: center 82%;
        background-size: 243px 75.5px;
    }

    #rightNavMainContent{
        height: 239px;
        width: 100%;
        margin: 20px auto;
        background-color: red;
    }

    .sectionTitle{
        float: left;
        margin: 20px 0 20px 5%;
        color: #9B9B9B;
        font-size: 16px;
        font-weight: 300;
    }    

    #foulSection1{
        width: 100%;
        height: auto;
        border-bottom: 1px solid #EEEEEE;
    /*    background-color: blue;*/
    }
    
    .radios .forradiobtn{
        background-color:white;
        color:#029E9B;
        display:inline-block;
        width:100%;
        line-height:50px;
        height:50px;   
    }

    .forradiobtn{
        text-align: left;
        padding-left: 7%;
        font-weight: 600;
        border-bottom: 1px solid #E0E0E0;
    }

    .radios input[type=radio]{
        display:none
    }

    .radios input[type=radio]:checked + .forradiobtn{
        background-color:#029E9B;
        color:white;
    }

    #propositions{
        width: 100%;
        height: auto;
        margin-bottom: 20px;
    }
    
    label.forcheckbox {
        display:block;
        line-height:50px;
        height:50px;
        width: 100%;
        color:#029E9B;
        background-color: #ffffff;
        text-align: left;
        padding-left: 7%;
        font-weight: 600;
        border-bottom: 1px solid #E0E0E0;
    }

    input[type=checkbox] {
        display: none;
    }

    input:checked + label {
        color: #FFFFFF;
        background-color:#029E9B;
        background-image: url("../ressources/validation@x2.png");
        background-repeat: no-repeat;
        background-position: 88%;
        background-size: 17.5px 16.5px;
    }

    #foulSection3{
        width: 100%;
        height: auto;
    }

    #pitchDiv{
        display: inline-block;
        width: 100%;
        height: auto;
    }

    #expandBtn{
        display: inline-block;
        width: 100%;
        height: 30px;
        background-color: #029E9B;
        -moz-box-shadow: inset 0px 1px 2px 0px #7F7F7F;
        -webkit-box-shadow: inset 0px 1px 2px 0px #7F7F7F;
        -o-box-shadow: inset 0px 1px 2px 0px #7F7F7F;
        box-shadow: inset 0px 1px 2px 0px #7F7F7F;
    }

    img.pitchimage{
        width: 100%;
        height: auto;
        background-image: url('../ressources/vertical_pitch@1x.png') no-repeat center fixed;
        background-size: cover;

    }

    #startHalfButton{
        position: block;
        margin: 13px auto 15px auto;
        height: 55px;
        line-height: 55px;
        width: 94%;
        text-align: center;
    /*    padding-bottom: 200px;*/
        background: #029E9B;
        border-radius: 6px;
        font-weight: 800;
        font-size: 19px;
        color: #FFFFFF;
    }

    #liveRecordContainer{
        display: inline-block;
        overflow: hidden;
        margin: 0 auto 7px auto;
        width: 90%;
        height: 315px;
        border-bottom: 1px solid #E4E4E4;
    /*    background-color: mediumvioletred;*/
    }

    #lineOfRecord{
        overflow: hidden;
         display: inline-block;
        width: 100%;
        height: auto;
        margin-bottom: 10px;
    /*    background-color: yellow;*/
    }

    #shootBtn{
        float:left;
        width: 48%;
        height: 90px;
    }

    #turnoverBtn{
        float:right;
        width: 48%;
        height: 90px;
    }

    .designBtn{
        line-height: 70px;
        border-radius: 3px;
        border: 1px solid #029E9B;
        background-color: #FBFBFB;
        color: #029E9B;
        font-weight: 800;
        font-size: 16px;
    }

    .designBtnLine{
        display: block;
        margin-top: -10px;
        line-height: 0;
        color: #EEA42E;
    }

    /*#### Record V3 ####*/

    #matchPresentation{
        width: 100%;
        height: 73px;
        margin-top: -10px;
        border-bottom: 1px solid #E0E0E0;
    }

    #timeBox{
        width: 100%;
        height: 26px;
        padding-top: 10px;
        font-size: 12px;
        font-weight: 400;
        text-align: center;
        border-bottom: 1px solid #E0E0E0;
        background-color: #F5F5F5;
    }

    #hashContainer{    
        width: 90%;
        margin: auto;
        z-index:2;
    }

    #hashHome{
        float: left;
        text-align: left;
        height: 40px;
        width: 50%;
        z-index:2;
    }

    #hashAway{
        float: right;
        text-align: right;
        height: 40px;
        width: 50%;
        z-index:2;
    }

    .hashTeam{
        font-weight: 300;
        font-size: 35px;
        color: #143542;
    }

    #teamNameContainer{    
        width: 90%;
        margin: auto;
        z-index:2;
    }

    #teamNameHome{
        float: left;
        text-align: left;
        width: 50%;
        z-index:2;
    }

    #teamNameAway{
        float: right;
        text-align: right;
        width: 50%;
        z-index:2;
    }

    #versusCol{
        visibility: hidden;
        display: inline-block;
        vertical-align: bottom;
        text-align: center;
        width: 10%;
    }

    .teamName{
        font-weight: 200;
        font-size: 15px;
        color: #143542;
    }

    .figureLine{
        display: inline-block;
        width: 100%;
        height: 70px;
        text-align: center;
        line-height: 70px;
        background-color: white;
        border-bottom: 1px solid #E0E0E0;
    }

    .dataScoreHome{
        display: inline-block;
        float: left;
        width: 33%;
        text-align: right;
        background-image: url("../ressources/verticaldots@x2.png");
        background-size: 5px 20.5px;
        background-repeat: no-repeat;
        background-position: 10% center;
/*        background-color: palegreen;*/
        font-size: 23px;
        font-weight: 600;
        color:#EEA42E;
    }

    .dataLabel{
        font-size: 16px;
        font-weight: 600;
        color:#1F4C5D;
    }

    .dataScoreAway{
        display: inline-block;
        float: right;
        width: 33%;
        text-align: left;
        background-image: url("../ressources/verticaldots@x2.png");
        background-size: 5px 20.5px;
        background-repeat: no-repeat;
        background-position: 90% center;
    /*    background-color: brown;*/
        font-size: 23px;
        font-weight: 600;
        color:#EEA42E;
    }

    #dataType{
        display: inline-block;
    /*    background-color: chartreuse;*/
    }

    #scoreBox{
        position: relative;
        margin: 20px auto -41px auto;
        width: 120px;
        text-align: center;
/*        background-color: royalblue;*/
        z-index:3;
    } 

    .scoreBoxClass{
        font-weight: 700;
        font-size: 35px;
        color: #EEA42E;
    }

    

    #liveIcon{
        display: none;
        position:inherit;
        margin: 40px auto -58px auto;
        z-index:3;
        text-align: center;        
        background-image: url("../ressources/livesymbol@x2.gif");
        background-size: 29.5px 8.5px;
        background-repeat: no-repeat;
        background-position: center center;
        width: 59px;
        text-indent: -9999px;
/*        background-color: hotpink;*/
    }
    
    #timeAndHalf{
        display: inline-block;
        float: left;
        width: 38%;
        text-align: right;
        color: #1F4C5D;
    /*    background-color: firebrick;*/
    }

    #stopHalfBtn{
        display: inline-block;
        float: right;
        text-align: left;
/*
        background-image: url("../ressources/rightarrow@x2.png");
        background-size: 5px 10px;
        background-repeat: no-repeat;
        background-position: 90% center;
*/
        width: 38%;
        color: #029E9B;
    /*    background-color: blueviolet; */
    }

    /*#### Right Menu V3 ####*/
    
    #pitchpointer1, #pitchpointer2, #pitchpointer3, #pitchpointer4, #pitchpointer5{
        display:none;
        position: relative;
        left:0%;
        top:0%;
    }
    
    #pitchContainerDataviz{
        position: relative;
        width: 100%;
        height: 460px;
        z-index: 5;
    }
    
    .averageturnoverline{
        width: 100%;
-webkit-box-shadow: 0px 1px 2px 0px rgba(160,19,19,0.35);
-moz-box-shadow: 0px 1px 2px 0px rgba(160,19,19,0.35);
box-shadow: 0px 1px 2px 0px rgba(160,19,19,0.35);
    }
    
    #pitchContainerTurnover{
        width: 100%;
        height: 460px;
        margin-top: 20px;
    }
    
    #pitchContainerFoul{
        width: 100%;
        height: 460px;
        margin-top: 20px;
    }
    
    #pitchContainerShoot{
        width: 100%;
        height: 250px;
        margin-top: 20px;
    }
    
    #pitchContainerCross{
        width: 100%;
        height: 250px;
        margin-top: 20px;
    }
    
    #pitchContainerOffside{
        width: 100%;
        height: 250px;
        margin-top: 20px;
    }
    
    .pitchcontainerclass{
        z-index: 9;
        background-image: url('../ressources/vertical_pitch@2x.png');
        background-size: 100% 460px;
        background-repeat: no-repeat;
        background-position: center top;
        -moz-box-shadow: 0px 1px 2px 0px #c0c0c0;
        -moz-box-shadow: 0px 1px 2px 0px #656565;
        -webkit-box-shadow: 0px 1px 2px 0px #656565;
        -o-box-shadow: 0px 1px 2px 0px #656565;
        box-shadow: 0px 1px 2px 0px #656565;
    }
    
    .pitchfloulcontainerclass{
        z-index: 9;
        background-image: url('../ressources/vertical_pitch@2x.png');
        background-size: 100% 460px;
        background-repeat: no-repeat;
        background-position: center bottom;
        -moz-box-shadow: 0px 1px 2px 0px #c0c0c0;
        -moz-box-shadow: 0px 1px 2px 0px #656565;
        -webkit-box-shadow: 0px 1px 2px 0px #656565;
        -o-box-shadow: 0px 1px 2px 0px #656565;
        box-shadow: 0px 1px 2px 0px #656565;
    }
    
    .pitchcontainerdatavizclass{
        z-index: 9;
        background-image: url('../ressources/vertical_pitch_noarrow@2x.png');
        background-size: 100% 460px;
        background-repeat: no-repeat;
        background-position: center top;
    }

    #pitchExpandBtnShoot{
        width: 100%;
        height: 28px;
        background-image: url('../ressources/expandicon@x2.png'); 
    }
    
    #pitchExpandBtnFoul{
        width: 100%;
        height: 28px;
        margin-top: 20px;
        background-image: url('../ressources/expandicon@x2.png'); 
    }
    
    .pitchExpandBtn{
        z-index: 3;
        margin-top: -2px;
        background-color: #029E9B;
        background-size: 15px 7px;
        background-repeat: no-repeat;
        background-position: center center;
    }

    #proposalTitle{
        width: 100%;
        height: 40px;
        margin-top: 20px;
        line-height: 40px;
        color: #9B9B9B;
        text-align: left;
        padding-left: 7%;
        font-weight: 300;
        border-width: 1px 0 1px 0;
        border-style: solid;
        border-color: #e0e0e0;
        background-color: #ffffff;
    }
    
    .proposalLineNext{
        display: inline-block;
        width: 100%;
        height: 50px;
        line-height: 50px;
        background-color: white;
        border-bottom: 1px solid #E0E0E0;
        color:#029E9B;
        text-align: left;
        padding-left: 7%;
        font-weight: 600;
        background-image: url("../ressources/nexticon@x2.png");
        background-repeat: no-repeat;
        background-position: 88%;
        background-size: 8.5px 17.5px;
    }
    
    .proposalLineValidation{
        display: inline-block;
        width: 100%;
        height: 50px;
        line-height: 50px;
        background-color: white;
        border-bottom: 1px solid #E0E0E0;
        color:#029E9B;
        text-align: left;
        padding-left: 7%;
        font-weight: 600;
        background-image: url("../ressources/validationicon@x2.png");
        background-repeat: no-repeat;
        background-position: 88%;
        background-size: 17.5px 16.5px;
    }

    #titleStepOne{
        padding: 45px 0 0 30px;
    }
    
    #titleStepTwo{
        margin: 0 0 0 30px;
    }
    
    #field{
        width: 90%;
        margin: 25px auto;
    }
    
    #fieldMonth{
        float: left;
        width: 40%;
        margin-right: 5%;
    }
    
    #fieldHour{
        float: left;
        width: 45%;
    }
    
    #fieldMinute{
        float: right;
        width: 45%;
    }
    
    
    #fieldDay{
        display: inline-block;
        width: 20%;
        margin-right: 5%;
    }
    
    #fieldYear{
        float: right;
        width: 30%;
    }
    
    .fieldName{
        visibility: hidden;
        font-weight: 300;
        font-size: 12px;
        color: #029E9B;
        padding-left: 10px;
    }
    
    select {
       -webkit-appearance: none;
    }
    
    select.selectMonth {
        -webkit-appearance: button;
        -webkit-border-radius: 0px;
        -webkit-padding-start: 10px;
        -webkit-user-select: none;
        background-image: url(../ressources/trianglebtn@x2.png);
        background-size: 12px 8px;
        background-position: 90% center;
        background-repeat: no-repeat;
        border-bottom: 1px #D8D8D8 solid;
/*        border-bottom: 2px #029E9B solid;*/
        background-color: white;
        border-top: none;
        border-right: none;
        border-left: none;
        color: #029E9B;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        font-weight: 300;
        width: 100%;
        font-size: 18px;
        height: 45px;
    }
    
    input {
        border-radius: 0;
        -webkit-appearance: none;
    }
    
    ::-webkit-input-placeholder {
        color: #029E9B !important;
        font-weight: 300;
        font-size: 18px;
    }
    
    input[type="text"].fieldContent
    {
        width: 100%;
        height: 45px;
        border-bottom: 1px #D8D8D8 solid;
/*        border-bottom: 2px #029E9B solid;*/
        border-top: none;
        border-right: none;
        border-left: none;
        font-weight: 100;
        font-size: 16px;
        color: #000000;
        padding-left: 10px;
    }
    
    input[type="text"].fieldContentHome
    {
        width: 100%;
        height: 45px;
        border-bottom: 1px #D8D8D8 solid;
/*        border-bottom: 2px #029E9B solid;*/
        border-top: none;
        border-right: none;
        border-left: none;
        font-weight: 100;
        font-size: 16px;
        color: #000000;
        padding-left: 10px;
    }
    
    input[type="text"].fieldContentAway
    {
        width: 100%;
        height: 45px;
        border-bottom: 1px #D8D8D8 solid;
/*        border-bottom: 2px #029E9B solid;*/
        border-top: none;
        border-right: none;
        border-left: none;
        font-weight: 100;
        font-size: 16px;
        color: #000000;
        padding-left: 10px;
    }
    
    input[type="text"].fieldDay
    {
        width: 100%;
        height: 45px;
        border-bottom: 1px #D8D8D8 solid;
/*        border-bottom: 2px #029E9B solid;*/
        border-top: none;
        border-right: none;
        border-left: none;
        font-weight: 100;
        font-size: 16px;
        color: #000000;
        padding-left: 10px;
    }
    
    input[type="text"].fieldYear
    {
        width: 100%;
        height: 45px;
        border-bottom: 1px #D8D8D8 solid;
/*        border-bottom: 2px #029E9B solid;*/
        border-top: none;
        border-right: none;
        border-left: none;
        font-weight: 100;
        font-size: 16px;
        color: #000000;
        padding-left: 10px;
    }
    
    #previousForm{
        float: left;
        padding-left: 10%;
    }
    
    #submissionForm{
        float: right;
        padding-right: 10%;
    }
    
    .formBtn{
        margin: 25px 0 0 0;
        color: #029E9B;
        font-size: 16px;
        font-weight: 600;
    }
}

@media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) { 

  .circle{
    background-image: url("../img/clock@x2.png");
    background-size: 12px 12px;
  }
    
    .logo{
        background-image: url("../ressources/scout_soccer_logo@x2.png");
        display: inline-block;
        background-size: 59px 23px;
        height: 23px;
        overflow: hidden;
        text-indent: -9999px;
        width: 59px;
        -webkit-transition: opacity 0.25s;
        -o-transition: opacity 0.25s;
        transition: opacity 0.25s;
    }

    #closePageBtn {
        display: inline-block;
        background-image: url("../ressources/close@x2.png");
        background-size: 15px 15px;
        height: 15px;
        width: 15px;
        float: left;
        margin-left: 15px;
        margin-top: 15px;
    }
    
    #leftMenuBtn {
        display: inline-block;
        background-image: url("../ressources/left_menu_logo@x2.png");
        background-size: 19px 16px;
        height: 16px;
        width: 19px;
        float: left;
        margin-left: 14px;
        margin-top: 14px;
        transition: .3s ease-in-out;
    }

    #validationPageBtn {
        display: inline-block;
        background-image: url("../ressources/validation@x2.png");
        background-size: 18px 17px;
        width: 18px;
        height: 17px;
        float: right;
        margin-right: 15px;
        margin-top: 14px;
    }
    
    #filterPageBtn {
        display: inline-block;
        background-image: url("../ressources/filter@x2.png");
        background-size: 15px 16.5px;
        width: 15px;
        height: 16px;
        float: right;
        margin-right: 15px;
        margin-top: 14px;
    }

    #roadsterBtn {
        display: inline-block;
        background-image: url("../ressources/team_icon@x2.png");
        background-size: 23px 16px;
        width: 23px;
        height: 16px;
        float: right;
        margin-right: 13px;
        margin-top: 14px;
    }
      
}